[submodule "scripts/pyMCNP"]
	path = scripts/pyMCNP
	url = ssh://git@xcp-stash.lanl.gov:7999/ndt/pymcnp.git
[submodule "scripts/pyData"]
	path = scripts/pyData
	url = ssh://git@xcp-stash.lanl.gov:7999/ndt/pydata.git
