*~
*.bak
*.pyc
*.o
*.ps
*.eps
*.pdf
*.10
*.mpx
*.log
*.aux
tmp
Makefile
autom4te.cache
config.log
config.status
src/Makefile
src/libndatk.a
src/TestRunner
src/.deps
test/Makefile
test/.deps
test/test_utils
test/test_translate_Isomer
test/test_Chart
test/test_Exsdir
test/test_FileStat
test/test_Library
test/use0_Library
test/use1_Chart
doc/html
doc/latex
